<div class="item">
  <label>
    <input type="checkbox" (change)="item.done = !item.done" [checked]="item.done"/>{{item.description}}
  </label>

  <div class="btn-wrapper" *ngIf="!editable">
    <button (click)="editable = !editable">Edit</button>
    <button color="warn" (click)="remove.emit()">Delete</button>
  </div>

  <!-- This section shows only if user clicks Edit button -->
  <div *ngIf="editable">
    <input placeholder="edit item" #editedItem (keyup.enter)="saveItem(editedItem.value)">

    <div class="btn-wrapper">
      <button (click)="saveItem(editedItem.value)" color="primary">Save</button>
      <button (click)="editable = !editable">Cancel</button>
    </div>
	</div>
</div>



