<div class="main">
  <app-todo></app-todo>
</div>
<!-- <div class="todo-app">
  <app-todo (submit)="addItem($event)"></app-todo>

  <ul>
    <li *ngFor="let item of todoList">
      <app-todo-item [item]="item"
                     (remove)="removeItem($event)"
                     (update)="updateItem($event.item, $event.changes)"></app-todo-item>
    </li>
  </ul>
</div> -->

<!-- <ul class="heroes">
  <li *ngFor="let item of items">
    <span class="badge">{{item.id}}</span> {{item.description}}
  </li>
</ul> -->


<!-- <label for="example-ngModel">[(ngModel)]:</label>
<input [(ngModel)]="currentItem.name" id="example-ngModel">
 -->


<!-- <div id="two-way-1">
  <app-sizer [(size)]="fontSizePx"></app-sizer>
  <div [style.font-size.px]="fontSizePx">Resizable Text</div>
  <label>FontSize (px): <input [(ngModel)]="fontSizePx"></label>
</div>
<br>
<div id="two-way-2">
  <h2>De-sugared two-way binding</h2>
  <app-sizer [size]="fontSizePx" (sizeChange)="fontSizePx=$event"></app-sizer>
</div>
 -->

