/* You can add global styles to this file, and also import other style files */

* {
  color: #f2f2f2;
  background-color: #444;
}

.main {
  max-width: 1000px;
  width: 70%;
  margin: auto;
  border: 1px #f2f2f2 solid;
  padding: 1rem;
  text-align: center;
}

ul li {
  list-style: none;
}
