input {
  padding: .5rem 1rem;
}

button {
  padding: .5rem 1rem;
  margin: 1rem;
  border: 2px solid pink;
  background-color: blueviolet;
  &:hover {
    background-color: aqua;
    color: #444;
  }
}

.list-wrapper {
  padding: 0;
}

.list {
  padding: .25rem;
  border: solid #f2f2f2  2px;
  margin: auto;
}

.sorter {
  li {
    display: inline-block;
    width: 20%;
    cursor: pointer;
    padding: 1rem;
    border: solid #f2f2f2  2px;
    &:hover {
      background-color: aqua;
      color: #444;
    }
  }
}
